body {
    background: #A7A9AC;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(.34, rgba(230,237,241,.05)),
        color-stop(.67, rgba(230,237,241,0)));
    -webkit-background-size: 5px 5px;
}

.button {
  color: white;
  text-decoration: none; 
  user-select: none; 
  background: grey; 
  padding: .7em 1.5em;
  outline: none;

}


td {
    padding: 28px;
}

.whiteClr {
  background: white
}

.blackClr {
  background: black
}

.invert .whiteClr {
  background: black
}
.invert .blackClr {
  background: white
}
.standart .whiteClr {
	background: white;
}
.standart .blackClr {
	background: black;
}

